
/*
#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(93, 42, 42);
    position: relative;
    top: 100px;
    left: 100px;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(93, 42, 42);
    position: fixed;
    bottom: 0px;
    right: 0px;
}
*/
#box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(93, 42, 42);
    position: relative;
    bottom: 0px;
    right: 0px;
}
#box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(55, 52, 150);
    position: absolute;
    bottom: 0px;
    right: 0px;
}